@import "./styles/Global.css";
.page{
max-width:390px;
margin:auto;
padding:20px;
color:white;
}

.card{
background:#1e293b;
padding:20px;
border-radius:16px;
margin-bottom:15px;
}

.progress{
height:12px;
background:#334155;
border-radius:10px;
overflow:hidden;
margin-top:10px;
}

.fill{
height:100%;
background:#8b5cf6;
}

input{
width:100%;
padding:12px;
margin-top:10px;
border:none;
border-radius:10px;
}

button{
margin-top:10px;
padding:12px 20px;
border:none;
border-radius:10px;
cursor:pointer;
}

.success{
background:#14532d;
padding:20px;
border-radius:12px;
margin-top:20px;
text-align:center;
}
